.main{
    min-height: 75vh;
}
.address{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    gap: 20px;
}

.addr-card input[type="radio"] {
    display: none;
}

.addr-card:has(input:checked) {
    border: 2px solid #198754;
    background-color: #f8fff9;
}

.summary {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: flex-start;
    margin-top: 30px;
}


.orders {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-start; 
    align-items: flex-start;
    flex-wrap: nowrap; 
}

.items {
    max-width: 900px;
    width: 100%;
}


.item {
    background: white;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    margin-bottom: 10px;
}


.pic img {
    flex: 1;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 10px grey;
}


.orders .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;

}

.tb {
    width: 360px;   
    min-width: 320px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    position: sticky;
    top: 20px;
    height: fit-content;
    border-left: 1px solid #eee;
}
